#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

:root {
    --text-color: #fcf9ff;
    --bg-color: #8d3f9a;
    --bg-border: #434144;
    --border-radius: 5px;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app h1 {
    font-size: clamp(4vw, 1.4rem, 3em);
}

#timeInterval {
    height: 2.5em;
    padding: 0 8px;
}

pre {
    border-radius: var(--border-radius);
}

.checkbox-container {
    gap: 1em;
    width: 100%;
    min-height: 4em;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 1em auto;
    padding: 8px;
    border-radius: var(--border-radius);

    @media (max-width: 786px) {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
}

.checkbox {
    gap: 0.5em;
}

.footer {
    margin: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    border-top: 1px solid var(--bg-border);
}

.footer div {
    padding-top: 16px;
    gap: 0.25em;
}
